name: Tagged Release

on:
  push:
    tags:
      - "v*"

jobs:
  pre-release:
    runs-on: ubuntu-latest
    name: Publish Release ${{github.ref}}

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Publish
        uses: marvinpinto/action-automatic-releases@latest
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          draft: true
          prerelease: false
